name: Docker
on:
  - pull_request
  - push
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/metadata-action@v5
        id: docker-meta
        with:
          images: cloudflare/origin-ca-issuer
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          file: ./cmd/controller/Dockerfile
          platforms: linux/amd64, linux/arm64
          tags: ${{ steps.docker-meta.outputs.tags }}
          push: ${{ startsWith(github.ref, 'refs/tags/v') }}
